body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}

.hyper {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.hyper:hover {
  text-decoration: none;
  text-shadow: 1px 1px 1px #555;
}

.table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}

img.card-img-top {
  width: 300px;
  height: 300px;
}
